<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
      <!-- <img src="assets/TFS_White.png" height="30" alt="" class="d-none d-sm-none d-md-inline"/>--> Directory of Forest Products Industries 
  </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
  aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
  <span class="navbar-toggler-icon"></span>
  <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
</button>
<div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" class="navbar-collapse collapse">
  <ul class="navbar-nav mr-auto">

    
  </ul>
  <ul class="navbar-nav">
   
     
    
    <li class="nav-item">
      <a class="nav-link" href="http://tfsgis.maps.arcgis.com/apps/webappviewer/index.html?id=f4fe341ee68e403bb35c434711aad9a5" target="_blank">Admin</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Add/Update Business</a>
    </li>
    <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
            <a class="nav-link dropdown-toggle" id="dropdownBasic01" ngbDropdownToggle>About</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic01">
              <button class="dropdown-item">Help</button>
              <button class="dropdown-item">Contact Us</button>
              <button class="dropdown-item">TFS Home</button>
              <button class="dropdown-item">TexasForestInfo.com</button>
            </div>
          </div>
        </li>
        
    <!-- <li class="nav-item">
        <button type="button" class="btn btn-link">About</button>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <a class="nav-link dropdown-toggle-split" ngbDropdownToggle></a>
          <div class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item">Help</button>
              <button class="dropdown-item">Contact Us</button>
              <button class="dropdown-item">TFS Home</button>
              <button class="dropdown-item">TexasForestInfo.com</button>
          </div>
        </div>
    </li> -->
  </ul>
</div>
</nav>