// @import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@media (max-width: map-get($grid-breakpoints, "sm" )) {
    .navbar-brand{
        font-size: 15px;
    }
}
@media (max-width: map-get($grid-breakpoints, "lg" )) {
    .d-inline-block.dropdown{
        width: 100%;
    }
}

.navbar-brand{
    font-weight: 400;
}
.navbar.navbar-dark{
    background-color: #2E7D32;
}
a.navbar-dark{
    color:white !important;
}
.btn-link{
    color: white !important;
}
.dropdown-menu{ 
     background-color: #2E7D32 !important;
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16), 5px 5px 10px rgba(0, 0, 0, 0.12);
}

.dropdown-item{
    color: white !important;
    background-color: #2E7D32;
}
.dropdown-item:hover{
    color: black !important;
    background-color: #2E7D32;
}
.dropdownSubmenu {
    margin-bottom: 10px;
}
@media(max-height: 350px){
    .dropdownSubmenu {
        margin-bottom: 100px;
    }
}

