<h2 mat-dialog-title>Contact Us
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close><i class="material-icons">
            close
            </i></button>
      </div>
</h2>

<br>
<b> Ed Dougal</b>
<br>

Wood Utilization & Marketing Specialist<br>

Texas A &M Forest Service <br>

2127 S. First Street, Lufkin,  TX 75901<br>

Phone: (936) 639-8181 <br>

Email:  <a href="mailto:edougal@tfs.tamu.edu?Subject=Directory of Forest Products Industries" target="_top">edougal@tfs.tamu.edu</a>