<!-- <div class="dialogPopup {{popupVisibility}} unselectable" style="display:none">
  Sorry, Popups are disabled in your browser. Click <a href='{{reportUrl}}' target="_blank">here</a> to view and
  download your report
  <i class="fa fa-times pull-right btn" style="margin-right:10px; font-size: 25px;"> </i>
</div> -->
<div class="mat-elevation-z8 data-table card">
  <!-- <div #DemoHandle class="card-header" style="padding: 0.20rem .5rem;"> List of forest products industries <span class="pull-right">
      <mat-form-field class="searchBar">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      <button (click)="export($event)" class='btn fa fa-file-pdf-o'> PDF</button>
      &nbsp;&nbsp;  <button (click)="exportToExcel($event)"  class='btn fa fa-file-excel-o'> Excel</button>
  </span>
  </div> -->
  <mat-paginator #paginator
  [length]="300"

  [pageSize]="10"
  [pageSizeOptions]="[10, 25, 50, 100, 250]">
</mat-paginator>
  <table mat-table class="full-width-table" [dataSource]="featuredataSource" matSort aria-label="Elements"
  matSort matSortActive="Id" matSortDirection="asc" matSortDisableClear
  >
      <!-- Id Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.Id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.Company}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  


  <!-- <table mat-table #table [dataSource]="featuredataSource" matSort aria-label="Elements">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SN</th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>
    
         <ng-container matColumnDef="Company">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
          <td mat-cell *matCellDef="let row">{{row.properties.Company}}</td>
        </ng-container>
    
        <ng-container matColumnDef="County">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>County</th>
            <td mat-cell *matCellDef="let row">{{row.properties.County}}</td>
          </ng-container>
    
          <ng-container matColumnDef="MainIndustryType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Main Industry</th>
              <td mat-cell *matCellDef="let row">{{row.properties.MainIndustryType}}</td>
            </ng-container>
    
            <ng-container matColumnDef="SpecificIndustryType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Specific Industry</th>
                <td mat-cell *matCellDef="let row">{{row.properties.SpecificIndustryType}}</td>
              </ng-container>
          
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" (dblclick)="doubleClick($event, row)" [ngClass]="{'highlight': selectedRowIndex == row.id}"></tr>
      </table>
   <mat-paginator #paginator
        [length]="featuredataSource.length"
        [pageIndex]="0"
        [pageSize]="50"
        [pageSizeOptions]="[2,25, 50, 100, 250]">
      </mat-paginator>  -->
  
</div>