<div #mapViewNode id="mapViewNode">
  <app-list class="appList" (zoomIntoRow)="zoomIntoRowMap($event)" tourAnchor="industries-list" *ngIf="!drawToolActive"></app-list>
  <div id='tooltipContainer' *ngIf="drawToolActive">
    <div id='tooltip' #tooltip *ngIf="drawInstructions != ''">{{ drawInstructions}} </div>
  </div>
  <div id="basemapToggle" [ngClass]='basemapWidgetClass'></div>
  <div id='basemapToggleBtn' (click)='toggleBasemaps()' matTooltip="Show/Hide basemap gallery" mat-button aria-label="Button shows/hides basemap gallery">
    <i class='esri-icon-layers'></i>
  </div>
  <div tourAnchor="basemap-tour" class="basemapTourRect"></div>
  <div id='legendToggleBtn' (click)='toggleLegend()' matTooltip="Show/Hide Legend" mat-button aria-label="Button shows/hides legend">
    <!-- <i class='esri-icon-documentation'></i> -->
    <img src="./assets/img/legend.png" class="legendIcon"/>
  </div>
  <div *ngIf="mapBusy">
    <mat-spinner [diameter]=45 color="green" class='mapbusySpinner'></mat-spinner>
  </div>
</div>
