<div #mapViewNode id="mapViewNode">
  <div id='tooltipContainer' *ngIf="drawToolActive">
    <div id='tooltip' #tooltip *ngIf= "drawInstructions != ''">{{ drawInstructions}} </div>
  </div> 
  <div id="basemapToggle" [ngClass]='basemapWidgetClass'></div>
  <div id='basemapToggleBtn' (click)= 'toggleBasemaps($event)' matTooltip="Show/Hide basemap gallery" mat-button
  aria-label="Button shows/hides basemap gallery">
    <i class='esri-icon-layers'></i>
  </div>
  <app-list class="appList"></app-list>
</div>