
<button mat-button class="openSideBarButton" *ngIf="openSideBarButtonVisible" (click)="openSidebar()" 
matTooltip="Show sidebar for search and export."
  [matTooltipPosition]="'right'" aria-label="show sidebar button">
  <i class="fa fa-chevron-right"></i>
</button>
<mat-drawer-container class="sidenav-container" [hasBackdrop]="sliderBackdrop" #drawerDiv >
  <mat-drawer #drawer [mode]='drawerMode' class="sidenav" [opened]="!sliderBackdrop" >
    <app-sidebar (hideSidebarEvent)="drawer.close(); openSideBarButtonVisible= false;"></app-sidebar>
  </mat-drawer>


  <mat-drawer-content class="drawerContent">
    <mat-toolbar>
      <app-header class="headerBar" (openDialog)="openDialogs($event)"></app-header>
    </mat-toolbar>
    
    <div class="mainBody" >
      <div id='legendOverlay' style="display: none">
        <canvas id='canvasPrimaryLegend' appPrintLegend style="height: inherit; width: auto"></canvas>
        <canvas id='canvasSecondayLegend' appPrintLegend style="height: inherit; width: auto"></canvas>
      </div>  
      <div id= 'staticLegend' *ngIf="isLegendVisible">
          <h2 mat-dialog-title class='center nobottomMargin'>Legend
              <div mat-dialog-actions>
                <button mat-button class="closeDialogBtn" (click)="toggleLegend()"><i class="material-icons">
                    close
                  </i></button>
              </div>
            </h2>
        <img src="assets/img/PrimaryIndustriesLegend.png" style="width: 300px"><br>
        <img src="assets/img/SecondaryIndustriesLegend.png" style="width: 300px">
      </div>
      <app-esrimap class="fullpageMap" tourAnchor="mainmap" (toggleLegendEvent)= 'toggleLegend()'>

      </app-esrimap>

    </div>
  </mat-drawer-content>


</mat-drawer-container>
<tour-step-template #tourTemplate class='tourTemplateCls'></tour-step-template>
