html,
body {
  height: 100%;
  overflow: hidden !important;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden
}

.container,
.row {
  height: 100%;
}

.flex-row,
.flex-row>div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 0 auto;
  height: 100%;
}

// remove default row margins
.row {
  margin-right: 0;
  margin-left: 0;
}

.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1;
  flex-flow: column nowrap;
}

.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
  flex-direction: row;
  flex-wrap: nowrap
}

.ng-draggable>.fill-remaining-space {
  cursor: move;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.nodisplay {
  display: none;
}

.blockdisplay {
  display: block;
}

#welcome {
  position: absolute;
  z-index: 100;
  background: white;
  width: 100%;
  height: 93%;
  top: 7%;
}

.welcomeDialogBg {
  opacity: 0.5 !important;
}

.mat-paginator-page-size-label {
  margin: 0 4px;
  display: none !important;
}

.fullpageMap {
  width: 100%;
  height: 100%;
  position: relative;
}

.slideFeatureTableActive {
  position: absolute;
  width: 65px;
  height: 35px;
  z-index: 100000;
  border-radius: 10px 10px 0 0;
  top: -32px;
  right: 0%;
  background-color: gray;
  color: white;
  font-size: 25px;
  vertical-align: middle;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.whiteChevronRight {
  height: 40px;
  width: 30px;
  padding-right: 8px;
}

.openFeatureTableButton {
  z-index: 100;
  margin: auto;
  width: 50px;
  background-color: gray;
  height: 50px;
  text-align: center;
  margin: auto;
  padding: 2px;
  font-size: 24pt;
  color: white;
  border-radius: 5px 5px 0 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16), 5px 5px 10px rgba(0, 0, 0, 0.12);
}

#staticLegend {
  z-index: 5000;
  right: 50px;
  top: 70px;
  position: absolute;
  border: 1px solid black;
}

.nobottomMargin {
  margin-bottom: 0
}

.slideOut {
  transform: translateX(-100%);
}

.slideIn {
  transform: translate(0%);
}

.sideNav {
  height: 100%;
  display: inline-flex;
  width: 30%;
  max-width: 300px;
}

@media (max-width: 768px) {
  .sideNav {
    height: 100%;
    display: inline-flex;
    width: 90%;
    max-width: 90%;
  }
}

.headerBar {
  width: 100%;
  height: 100%;
  z-index: 25
}

.mainBody {
  display: flex;
  flex: 1;
}

.sidenav-container {
  display: flex;
  flex: 1;
}

.drawerContent {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.mat-drawer-container {
  overflow: auto !important;
  position: static;
}

.openSideBarButton {
  position: absolute !important;
  left: 0;
  width: 50px;
  height: 49px;
  background-color: white;
  font-size: 25pt;
  vertical-align: center;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  top: 62px;
  overflow: visible;
  min-width: auto !important;
  border-radius: 0 0 10px 0 !important;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.16), 5px 9px 10px rgba(0, 0, 0, 0.12) !important;
  z-index: 10;
}

.mat-drawer-content {
  overflow: hidden;
}
