<ngb-accordion [closeOthers]="true" activeIds="export" id='sidebar'>
  <ngb-panel id="searchAttributes" title='Search by attributes'>
    <ng-template ngbPanelContent>
         Search by Company: <br/>
      <ng-select [allowClear]="true" [items]="companies" (data)="refreshValue($event)" (selected)="selected($event, 'company')"
       placeholder="Select a company name.." class="otherCls">
      </ng-select>
      <hr/> Search by County: <br>
      <ng-select [allowClear]="true" [items]="counties"  (data)="refreshValue($event)" (selected)="selected($event, 'County')"
         placeholder="Select an county.." class="otherCls">
      </ng-select>

      <hr> Search by Industry Type <br>
      <ng-select [allowClear]="true" [items]="industrytype" (data)="refreshValue($event)" (selected)="selected($event, 'Industry_t')"
         placeholder="Select an industry type.." class="otherCls">
      </ng-select>
<hr>
      <button (click)= "resetData()" class="btn fa fa-eraser">Clear Search</button>

    </ng-template>
  </ngb-panel>
  <ngb-panel id="searchMap">
    <ng-template ngbPanelTitle>
      <span>Search on Map</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <button (click)="activateSpatialControl('buffer')" class="btn" style='margin-top: 10px;'> <i class="esri-icon-maps"></i> Buffer</button><br>
      <button (click)="activateSpatialControl('polygon')" class="btn" style='margin-top: 10px;'> <i class="esri-icon-polygon"></i> Polygon</button><br>
      <button (click)="activateSpatialControl('rectangle')" class="btn" style='margin-top: 10px;'> <i class="esri-icon-checkbox-unchecked"></i> Rectangle</button><br>
      <button (click)="activateSpatialControl('point')" class="btn" style='margin-top: 10px;'> <i class="esri-icon-map-pin"></i> Select by counties</button><br>
      <hr>
      <button *ngIf='activatedSpatialControl === true' (click)='clickedSpatialQuery($event)' class="btn" ><i class="esri-icon-search"></i>Query</button>
     &nbsp;&nbsp; <button *ngIf='activatedSpatialControl === true' (click)="activateSpatialControl('clear')" class="btn" ><i class="esri-icon-trash"></i>Clear</button>
     <!-- <app-spatialsearch></app-spatialsearch> -->
    </ng-template>
  </ngb-panel>
  <ngb-panel id="export" title="Export" >
    <ng-template ngbPanelContent>
        <button (click)="printMapPDF()" #exportmap class="btn"><span class="fa fa-share-square"> </span>&nbsp;&nbsp;Export Map</button>
      <p *ngIf="printStatus === 'running'"><mat-spinner [diameter]=35 ></mat-spinner>Printing...</p>
      <p class="text-danger" *ngIf="printStatus === 'error'">Error while printing. Please try again</p>
      <p *ngIf="linkToPDFReport !== ''"><a href="{{linkToPDFReport}}" target="_blank">Untitled.pdf</a></p>
    </ng-template>
  </ngb-panel>
</ngb-accordion>