@import "~@ng-select/ng-select/themes/default.theme.css";
.open.dropdown .dropdown-menu { display: block; transform: none; }
.btn-secondary {
    background-color: white;
    border-color: #6c757d;
    color: black;
}
.btn-secondary:hover{
    background-color: lightgray;
}