<button mat-raised-button (click)="toggleTable($event)" class="maximizeBtn" *ngIf="featureTableClass === 'featureTableMinimized animate'"
matTooltip="Show the industries table."
[matTooltipPosition]= "'above'"
  aria-label="Show table button"
>
    <mat-icon class="maximizeIcon" >expand_less</mat-icon><br>
    Show Table
   </button>

<div cdkDrag #featureTable [ngClass]='featureTableClass'>
  <mat-toolbar class="table-toolbar" cdkDragHandle>
    <mat-toolbar-row>
      <button mat-button (click)="toggleTable()" class="minimizeBtn"
      matTooltip="Hide the industries table."
      [matTooltipPosition]= "'above'"
        aria-label="Hide table button"
      >
       <mat-icon class="minimizeIcon">expand_more</mat-icon>
      </button>


      <span class="fill-remaining-space" style="cursor:move">&nbsp;</span>
      <mat-paginator [disabled]="pageLength === 0" [length]="getPageLength()" [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 365]" id='paginator'></mat-paginator>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="featureTableContainer">
    <span *ngIf="pageLength === 0" class="noIndustries">No industries found. Please try a different search criteria</span>
    
    <mat-table class="feature-table mat-elevation-z8 featureList" [ngClass]="(pageLength !== 0) ? 'visible': 'hidden'" 
    [dataSource]="dataSource" matSort matSortActive="Id" matSortDirection="asc">
      <ng-container matColumnDef="Id">
        
        <mat-header-cell *matHeaderCellDef mat-sort-header>SN

        </mat-header-cell>

        <mat-cell *matCellDef="let row">{{row.Id}}</mat-cell>

      </ng-container>
      <ng-container matColumnDef="Company">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.Company}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="County">
        <mat-header-cell *matHeaderCellDef mat-sort-header>County</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.County}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="MainIndustryType">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Main Industry</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.MainIndustryType}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="SpecificIndustryType">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Specific Industry</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.SpecificIndustryType}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectRow(row)" (dblclick)="doubleClick($event, row)" [ngClass]="{'highlight': selectedRowIndex == row.Id}"></mat-row>

    </mat-table>




  </div>
</div>
