/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100% !important;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}
.esri-attribution__sources {
  text-align: right !important;
}
.esri-ui .esri-attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right !important;
}

.mat-expansion-panel-header {
  cursor: pointer;
  background: #f6f9f4;

}
.mat-expansion-panel{
  overflow: visible !important;
}

.navbar-collapse {
  text-align: right;
}
.ui-select-choices {
  position: fixed;
  top: auto;
  left: auto;
  width: inherit;
}
.dijitPopup {
  background: white;
  max-width: 200px !important;
  position: absolute !important;
  cursor: pointer !important;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
}
.dijitMenuItem {
  padding: 0px;
  height: 35px;
  font-size: 14px;
  margin-left: 10px;
}
.dijitMenuItem:hover {
  background: lightblue;
}
.dijitMenuSeparator {
  background: grey !important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  // IE10+ CSS here
  // .fullpageMap {
  // position: -ms-page !important;
  // }
  html, body {
  height: auto !important;
}
  #mapViewNode {
    position: -ms-page !important;
    height: calc(100% - 56px) !important;
  }
  .socialBtn {
    line-height: 50px !important;
  }
  #staticLegend {
    position: fixed !important;
  }
  .navbar{
    padding: 0em 1em !important;
  }
  .mat-button-wrapper{
    line-height: 38px;
  }
}

.appRoot{
  display: flex;
  height: 100%;
}

ui-select-choices.dropdown-menu {
  display: block;
}
.esri-widget__table tr th {
  width: 30% !important;
}

.esri-popup__single-action-container{
  display: none !important;
}
.esri-view-height-large .esri-popup__main-container {
  max-height: 380px !important;
}
.esri-view-height-less-than-medium .esri-popup__main-container {
  max-height: 380px !important;
}
.esri-view-height-xlarge .esri-popup__main-container {
  max-height: 380px !important;
}
.mat-dialog-container {
  display: block;
  padding: 10px !important;
  overflow-x: hidden !important;
}
.mat-dialog-title {
  margin: 0 0 5px;
}

.mat-dialog-content{
  text-align: justify;
  margin-right: -24px !important;
  overflow: visible !important;
}

.cdk-overlay-backdrop {
  background: black;
  pointer-events: none;
}

.welcomeDialogBg {
  opacity: 0.65 !important;
  pointer-events: all;
}

.closeDialogBtn{
  line-height: 30px !important;
}

.mat-menu-panel {
  max-width: 470px !important;
  overflow: hidden;
}

// without global styles, material paginator's css could not be overidden
@media (max-width: 768px) {
  .mat-paginator-page-size-label {
    margin: 0 4px;
    display: none !important;
  }
  .mat-menu-panel {
    max-width: 300px !important;
  }
  .mat-paginator-page-size {
    display: flex;
    align-items: baseline;
    margin-right: 0 !important;
  }
  .mat-toolbar-single-row{
    padding: 0px !important;
    height: 56px !important;
  }
}

.mat-select-trigger {
  color: white !important;
}

.mat-paginator-page-size-select {
  margin: 6px 4px 0 4px;
  width: 40px !important;
}

.mat-paginator-range-label {
  margin: 0 10px 0 10px !important;
}

.mat-dialog-title {
  margin: 0 0 20px;
  display: block;
  background-color: #2E7D32;
  position: sticky;
  color: white;
  text-indent: 10px;
}

.mat-dialog-actions {
  float: right;
  padding: 0 !important;
  min-height: 0 !important;
  margin-bottom: -24px;
}
.nopadding {
  padding: 0 !important;
}

//fix navbar for smaller screen sizes
@media (max-width: 400px) {
  .navbar-toggler {
    padding: 0rem !important;
    width: unset !important;
  }

  .navbar-brand {
    margin-right: 0rem !important;
  }

  .hide-sm {
    display: none
  }
  .mat-toolbar {
    font-size: 15px !important;
  }
  .mat-drawer{
    margin-top: 56px !important;
    max-width: 320px !important;
  }
}

// for extremely small screen
@media (max-width: 315px) {
  .navbar {
    padding: 0.1em !important;
  }

  .mat-paginator-range-label {
    margin: 0 !important;
  }
}
.mat-drawer{
  margin-top: 62px !important;
  max-width: 320px !important;
  width: 100%;
}
@media (max-width: 992px) {
  .mat-drawer{
    margin-top: 56px !important;
  }
}

@media (min-width: 768px){
  .mat-toolbar-single-row{
    padding: 0px !important;
    height: 56px !important;
  }
}

.esri-zoom .esri-widget--button:last-child {
    border-top: solid 1px white !important;
}

.esri-widget--button {
    background-color: green !important;
    color: white !important;
}

.flatLink{
  text-decoration: underline !important;
  color: #007bff !important;
  background: transparent;
  min-width: unset;
  width: auto;
  padding: 0 !important;
  line-height: inherit !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.mat-toolbar {
  font-size: 18px !important;
}

.navbar-dark .navbar-toggler {
  color: white !important;
  border-color: transparent !important;
}

.navbar-toggler .mat-icon {
  font-size: 30pt !important;
}

.sidebarCloseBtn .mat-button{
  border-radius: unset !important;
  padding: unset !important;
  min-width: unset !important;
}

.navbar-dark .navbar-toggler {
  margin-right: 8px;
}